<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="static/main.js" defer></script>
  </head>
  <body>
    <form novalidate id="order-form">
      <div>
        <label for="product_21_price">
          Product 1 price
          <input
            type="text"
            id="product_21_price"
            value="50"
            class="product_price"
          />
        </label>
        <label for="product_1_quantity">
          Product 1 quantity
          <input
            type="number"
            id="product_21_quantity"
            value="2"
            class="product_quantity"
          />
        </label>
      </div>
      <div>
        <label for="product_35_price">
          Product 2 price
          <input
            type="text"
            id="product_35_price"
            value="100"
            class="product_price"
          />
        </label>
        <label for="product_2_quantity">
          Product 2 quantity
          <input
            type="number"
            id="product_35_quantity"
            value="1"
            class="product_quantity"
          />
        </label>
      </div>
      <button>Buy</button>
    </form>
    <form id="upload-form">
      <input type="file" name="file" />
      <input type="file" name="file" />
      <button>Upload</button>
    </form>
  </body>
</html>
